<% provide :title, t(".title") %>
<h1><%= t ".header" %></h1>
<p>
  <%= link_to t("static_pages.home.web_name"), "http://www.railstutorial.org/" %>
  <%= t ".content_1" %>
  <%= link_to t(".book_name"), "http://www.railstutorial.org/book" %>,
  <%= link_to t(".screen_cast_name"), "http://screencasts.railstutorial.org/" %>
  <%= t ".content_2" %>
  <%= link_to t(".ruby_name"), "http://rubyonrails.org/" %>.
  <%= t ".content_3" %>
  </p>
