<% provide :title, t(".title") %>
<h1><%= t ".header" %></h1>
<p>
  <%= t ".content_1" %>
  <%= link_to t(".help_name"), "http://www.railstutorial.org/help" %>.
  <%= t ".content_2" %>
  <%= link_to t("static_pages.home.web_name"), "http://www.railstutorial.org/" %>
</p>
